@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@keyframes typing {
  0% {
      width: 0
  }
}

@keyframes blink {
  50% {
      border-color: transparent
  }
}

.main-header {
  display: flex
}

.left-logo {
  width: 60%;
  padding: 0 20px
}

.right-header {
  display: flex;
  width: 40%
}

.items {
  width: 100%;
  justify-content: space-evenly;
  align-items: center
}

.item-header,.items {
  display: flex
}

.items .item-header a,.logo-link {
  text-decoration: none
}

.hidden {
  display: none
}
.shown
{
  display: flex;
}

.noteModal.shown {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  height: 300px;
  flex-direction: row
}

.notes-input-field {
  width: 100%
}

.noteclose {
  display: block;
  width: 20px;
  height: 23px;
  position: absolute;
  right: 20px
}

.notes-list,.notes-list .hellothere a {
  display: flex;
  position: relative
}

.notes-list .hellothere {
  width: 9%;
  background-color: #614a19;
  border-radius: 20px;
  position: relative;
  margin: 10px;

}

.notes-list .hellothere a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%
}

a,h1,h2,h3,h4,p {
  font-family: open sans
}

.notes-data {
  margin: 0
}

.inner-header,.main-wrapper {
  width: 90%;
  margin: auto
}

.inner-header {
  display: flex
}

.left-logo {
  padding-left: 0
}

.main-header {
  background-color: #462accc7
}

.logo-link,.typing-demo {
  color: #fff;
  font-size: 2em
}

.items .item-header a {
  color: #fff;
  font-weight: 600
}

.typing-demo {
  width: 13ch;
  -webkit-animation: typing .6s steps(15),blink .5s step-end infinite alternate;
  animation: typing .6s steps(15),blink .3s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace
}

.note-single-type-wrapper {
  position: absolute;
  left: calc(50% - 340px);
  top: 40%
}

.noteModal.shown {
  background-color: #6e58d7;
  border: 2px solid #fff
}

body,html {
  height: 100%
}

body {
  width: 100%
}

#root {
  height: inherit;
  width: inherit
}

.notes-list.blurred {
  opacity: .7
}

.close-button {
  display: none;
}

.main-wrapper h3 {
  font-size: 2em;
  padding-left: 10px;
  margin: 20px 0!important;
  color: #4d4d4d
}

.logo-link,.main-wrapper h3,.typing-demo {
  text-transform: uppercase
}

.typing-demo {
  width: 15ch
}

.notes-list .hellothere {
  width: auto;
  height: max-content
}

.notes-list .hellothere a {
  height: auto;
  padding: 40px;
  max-width: 300px
}


/* Inline #5 | http://localhost:3000/# */

.notes-list, .notes-list .hellothere a {
  flex-wrap: wrap;
}
.delete-button
{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 8px;
  cursor: pointer;
/* Inline #5 | http://localhost:3000/# */



}
.notes-input-field {
  height: 90%;
}


/* Inline #5 | http://localhost:3000/# */

.noteModal.shown {
  /* background-color: #6e58d7; */
  background-color: #90805d;
}


/* Element | http://localhost:3000/# */

.add-button-wrapper {
  position: absolute;
  display: block;
  right: 100px;
  bottom: 60px;
  height: 100px;
  width: auto;
  cursor: pointer;
}

/* Inline #3 | http://localhost:3000/# */

.add-button-wrapper img {
  height: inherit;
  width: inherit;
}




.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


/* Inline #2 | http://localhost:3000/# */

.glow-on-hover {
  /* width: 220px; */
  /* height: 50px; */
  /* background: #111; */
  /* border-radius: 10px; */
  width: 80px;
  height: 80px;
  background: #614a19;
  border-radius: 50%;
  font-size: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-on-hover::after {
  /* background: #111; */
  /* border-radius: 10px; */
  background: #614a19;
  border-radius: 50%;
}

.glow-on-hover::before {
  /* top: -2px; */
  /* left: -2px; */
  /* width: calc(100% + 4px); */
  /* height: calc(100% + 4px); */
  /* border-radius: 10px; */
  top: -4px;
  left: -4px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 50%;
}

/* Inline #2 | http://localhost:3000/# */

.main-header {
  /* background-color: #462accc7; */
  background-color: #614a19;
}


/* Hover On notes */
.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  /* text-transform: uppercase; */
  width: 100%;
}
@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
 }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #f70000;
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}



/* Inline #2 | http://localhost:3000/# */

.btn-1 svg {
  /* height: 45px; */
  height: 100%;
}

.notes-list .hellothere {
  /* width: auto; */
  width: max-content;
}

.notes-list .hellothere a {
  /* width: 100%; */
  width: auto;
}

.notes-list .hellothere a {
  /* height: auto; */
  /* max-width: 300px; */
  height: max-content;
  max-width: 400px;
}

.notes-data {
  width: max-content;
}

.btn-1 {
  /* background: #f70000; */
  background: inherit;
}

/* Inline #3 | http://localhost:3000/# */

.notes-wrapper.btn.btn-1 {
  margin: 0px;
  border-radius: 20px;
}
